@import url('https://fonts.cdnfonts.com/css/wishcar-moundy');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Wishcar Moundy", sans-serif;
  font-family: "Wishcar Moundy Outline", sans-serif;
}

.flex {
  display: flex;
}
.flex-row {
  justify-content: space-around;
  align-items: center;
}
.flex-col {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background-noRepeat-cover {
  height: 100vmin;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

.space-between {
  justify-content: space-around;
}
.gap {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  width: 100% !important;
}
.a {
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}


